/*CSS for video.html*/

* {
    box-sizing: border-box;
}

body {
    background-color: #aaa;
    padding: 0;
    width: 100%;
    overflow: hidden scroll;
    display: flex;
    
}

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

.header-title {
    font-size: 30px;
    font-family: arial;
}

.img-container {
    height: 60px;
    width: 150px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo {
    width: 100%;
    transform: translate(2px, 5%);
}

.back-btn {
    border: 1.5px solid;
    padding: 10px 18px;
    border-radius: 25px;  
    text-decoration: none;
    color: #000;
}   

.back-btn:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.video-container {
    width: 1000px;
    min-height: 300px;
    margin: 0 auto; 
    background: #fff;
    margin-top: 140px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.video-box {
    width: 90%;
    display: flex;
    height: 250px;
    align-items: center;    
    justify-content: center;
    margin-top: 40px;
    
}

.video-thumbnail {
    width: 400px;
    height: 260px;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    width: 500px;
    margin-left: 50px;
}

h3 {
    font-size: 30px;
}

.desc-details {
    display: flex;
    justify-content: flex-start;
    width: 400px;
    align-self: flex-start;
}

.desc-details p {
    margin-right: 50px;
    color: #777;
}