/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Ubuntu+Condensed&display=swap');

/*CSS for video.html*/

* {
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    padding: 0;
    width: 100%;
    overflow: hidden scroll;
    display: flex;
    font-family: 'IBM Plex Sans', sans-serif;
}

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

.header-title {
    font-size: 30px;
    font-family: arial;
    font-family: 'Ubuntu Condensed', sans-serif;

}

.img-container {
    height: 60px;
    width: 150px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo {
    width: 100%;
    transform: translate(2px, 5%);
}

.back-btn {
    border: 1.5px solid;
    padding: 10px 18px;
    border-radius: 25px;  
    text-decoration: none;
    color: #000;
}   

.back-btn:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.video-container {
    width: 1000px;
    min-height: 300px;
    margin: 0 auto; 
    background: #fff;
    margin-top: 130px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-bottom: 40px;
}

.tabs-container {
    align-self: flex-start;
}

.tabs-container ul {
    display: flex;
    flex-direction: row;
}

.tabs-container ul li {
    list-style: none;
    margin-right: 15px;
    cursor: pointer;
}

.tabs-container ul li:first-child {
    color: #5fffe5;
}

.tabs-container ul li:hover {
    color: #5fffe5;
}

.video-box {
    width: 90%;
    display: flex;
    height: 250px;
    align-items: center;    
    justify-content: center;
    margin-top: 40px;
    
}

.video-thumbnail {
    width: 400px;
    height: 260px;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    width: 500px;
    margin-left: 50px;
}

.desc h3 {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.desc-details {
    display: flex;
    justify-content: flex-start;
    width: 400px;
    align-self: flex-start;
}

.desc-details p {
    margin-right: 50px;
    color: #777;
}

.btn  {
    border: 1.5px solid;
    padding: 10px 18px;
    border-radius: 25px;  
    text-decoration: none;
    color: #000;
    margin-top: 50px;
}

.btn:hover {
    background: #000;
    color: #fff;
    transition: 0.3s;
}

@media only screen and (max-width: 800px) {
    .video-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: space-around;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto; 
    }

    .video-box {
        flex-direction: column;
        margin-bottom: 25px;
        justify-content: space-around;
        min-height: 500px;
        max-height: 800px;
    }

    .desc{
        width: 100%;
        margin-top: 2px;
        height: 400px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .desc h3 {
        font-size: 1.5em;
    }
}